body{
  background-color: #DF514C
}
h1{
	color: #fff;
    padding: 15px;
    text-align: center;
}

li span{
  padding-left: 10px;
}

#itemForm{
  padding: 10px 15px;
}

.list-group{
  padding: 0px 15px;
}
